@charset "utf-8";

/* nav */
@-webkit-keyframes sections-nav {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0)
    }

    to {
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@keyframes sections-nav {
    0% {
        -webkit-transform: scaleY(0);
        transform: scaleY(0)
    }

    to {
        -webkit-transform: scaleY(1);
        transform: scaleY(1)
    }
}

@-webkit-keyframes sections-nav-item {
    0% {
        -webkit-transform: translate(100%);
        transform: translate(100%)
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

@keyframes sections-nav-item {
    0% {
        -webkit-transform: translate(100%);
        transform: translate(100%)
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}

.sections-nav-animated:before {
    -webkit-transform:scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top;
    -webkit-animation: sections-nav .5s cubic-bezier(.75,0,.45,1.1) .5s forwards;
    animation: sections-nav .5s cubic-bezier(.75,0,.45,1.1) .5s forwards
}

.sections-nav-animated .sections-nav-item {
    -webkit-transform: translate(100%);
    -ms-transform: translate(100%);
    transform: translate(100%);
    -webkit-animation: sections-nav-item .35s cubic-bezier(.75,0,.45,1.1) forwards;
    animation: sections-nav-item .35s cubic-bezier(.75,0,.45,1.1) forwards
}

.sections-nav-animated .sections-nav-item:nth-child(1n) {
    -webkit-animation-delay: .3s;
    animation-delay: .3s
}

.sections-nav-animated .sections-nav-item:nth-child(2n) {
    -webkit-animation-delay: .35s;
    animation-delay: .35s
}

.sections-nav-animated .sections-nav-item:nth-child(3n) {
    -webkit-animation-delay: .4s;
    animation-delay: .4s
}

.sections-nav-animated .sections-nav-item:nth-child(4n) {
    -webkit-animation-delay: .45s;
    animation-delay: .45s
}

.sections-nav-animated .sections-nav-item:nth-child(5n) {
    -webkit-animation-delay: .5s;
    animation-delay: .5s
}

.sections-nav-animated .sections-nav-item:nth-child(6n) {
    -webkit-animation-delay: .55s;
    animation-delay: .55s
}

.sections-nav-animated .sections-nav-item:nth-child(7n) {
    -webkit-animation-delay: .6s;
    animation-delay: .6s
}

.sections-nav-animated .sections-nav-item:nth-child(8n) {
    -webkit-animation-delay: .65s;
    animation-delay: .65s
}

.sections-nav-animated .sections-nav-item:nth-child(9n) {
    -webkit-animation-delay: .7s;
    animation-delay: .7s
}

.sections-nav-animated .sections-nav-item:nth-child(10n) {
    -webkit-animation-delay: .75s;
    animation-delay: .75s
}

.sections-nav-animated .sections-nav-item:nth-child(11n) {
    -webkit-animation-delay: .8s;
    animation-delay: .8s
}

.sections-nav-animated .sections-nav-item:nth-child(12n) {
    -webkit-animation-delay: .85s;
    animation-delay: .85s
}

.sections-nav-animated .sections-nav-item:nth-child(13n) {
    -webkit-animation-delay: .9s;
    animation-delay: .9s
}

.sections-nav-animated .sections-nav-item:nth-child(14n) {
    -webkit-animation-delay: .95s;
    animation-delay: .95s
}

.sections-nav-animated .sections-nav-item:nth-child(15n) {
    -webkit-animation-delay: 1s;
    animation-delay: 1s
}

/* TOP */
@keyframes display {
    0% {
        -webkit-transform: scaleX(20) translate(100vw);
        transform: scaleX(20) translate(100vw)
    }

    to {
        -webkit-transform: scaleX(1) translate(0);
        transform: scaleX(1) translate(0)
    }
}

@keyframes next-icon-bounce {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0)
    }

    50% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px)
    }

    to {
        -webkit-transform: translate(0);
        transform: translate(0)
    }
}