@charset "utf-8";

html, body {max-width: 100%; height:100%; background:#fff; overflow-x:hidden; }

/* 공통 */
.rows{position: relative; padding: 0 50px;padding-right:525px;}

/* 헤더 */
#header{position: absolute;width: 100%;transition:background 1s ease; z-index: 99;}
#header .top-menu {width: 1680px;margin:0 auto; padding:10px 0; transition: all 1s ease; z-index: 10; overflow: hidden;}
#header .top-menu .rows{display: flex; align-items: center; justify-content: space-between;}
#header {width: 100%; z-index: 30;}
#header h1{font-size:28px;}
#header h1 a{font-family: 'GongGothicMedium';}
#header h1 a strong{color:#000;}
#header.menu-scroll {background:rgba(0,0,0,0.7);}
#header.menu-scroll  h1 a{color:#fff;}
#header.menu-scroll  h1 a strong{color:#999;}
#header.menu-scroll  #nav li a{color:#fff;}

/* table */
table {width:100%;table-layout:fixed;border-collapse:collapse;border-top:1px solid #282728;border-right:1px solid #282728;}
table th, table td {text-align:center;height:36px;line-height:1.4;padding:5px;border-bottom:1px solid #dbdbdb;border-left:1px solid #999;font-size:15px;color:#494949;background-color:#fff;}
table thead{border-top:2px solid #333;}
table thead th {border-bottom:1px solid #282828;font-size:15px;font-weight:500;color:#212121;}
table .dep1 {border-bottom:1px solid #999;font-size:16px;font-weight:500;background-color:#f5f5f5;}
table .dep2 {font-weight:500;}
table .tb_link {font-weight:bold;color:#2b65dc;font-family: 'NanumSquareL';}
table td.yellow {background-color:#fbf972;}
table .gray td {background-color:#f5f5f5;}
table .last td {border-bottom:1px solid #999;}
table .bd_bot {border-bottom:1px solid #999;}
.c_line {text-decoration:line-through;}

/* nav-toggler */
.nav-toggler {display: none;position: absolute; right:50px; width: 32px;height: 22px;padding: 0;cursor: pointer;-webkit-user-select: none;-moz-user-select: none;-ms-user-select: none;user-select: none;background-color: rgba(0,0,0,0);border:0;}
.nav-toggler-bar {display: block;position: absolute;width: 100%;height: 2px;background-color: #000;-webkit-transition: -webkit-transform .35s ease;transition: -webkit-transform .35s ease;transition: transform .35s ease;transition: transform .35s ease,-webkit-transform .35s ease;-webkit-transform-origin: center;-ms-transform-origin: center;transform-origin: center}
.menu-scroll .nav-toggler-bar{background: #fff;}
.nav-toggler-bar:first-child {top: 0}
.nav-toggler-bar:last-child {bottom: 0}
.nav-toggler-bar:nth-child(2), .nav-toggler-bar:nth-child(3) {top: 10px}
.nav-active .nav-toggler-bar:first-child {-webkit-transform: scaleX(0);-ms-transform: scaleX(0);transform: scaleX(0)}
.nav-active .nav-toggler-bar:last-child {-webkit-transform: scaleX(0);-ms-transform: scaleX(0);transform: scaleX(0)}
.nav-active .nav-toggler-bar:nth-child(2) {-webkit-transform: rotate(45deg);-ms-transform: rotate(45deg);transform: rotate(45deg)}
.nav-active .nav-toggler-bar:nth-child(3) {-webkit-transform: rotate(-45deg);-ms-transform: rotate(-45deg);transform: rotate(-45deg)}

/* tab */
.nav_tabs {margin-bottom:20px;border-bottom:1px solid #cacaca;}
.nav_tabs.top {margin-top:20px;}
.nav_tabs:after {content:" ";clear:both;display:block;}
.nav_tabs > li {text-align:center;position:relative;top:1px;float:left;margin-left:-1px;border:1px solid #fff;border-bottom:0;background-color:#fff;}
.nav_tabs > li:first-child {margin-left:0;}
.nav_tabs > li.on {z-index:10;border-color:#cacaca;border-left:1px solid #cacaca;border-right:1px solid #cacaca;}
.nav_tabs > li > a {display:block;height:51px;line-height:51px;padding:0 35px;font-size:18px;font-weight:600;color:#212121; font-family: 'Spoqa Han SansL', sans-serif;}
.nav_tabs > li.on > a {height:53px;color:#50b4b6;}
.tabcon{display: none;}

/* contents */
.contents {width: 1680px;margin:0 auto;padding-top:65px;transition: all 0.3s ease;}

/* nav */
nav {position: fixed;width:360px;top:200px;right:240px; z-index: 1030;transition: right 0.3s ease;}
nav .nav-list{position: relative;}
nav .nav-list::before{content: "";position: absolute;width: 0;left: 0;top: 0;bottom: 0;border-right: 2px solid rgba(0,0,0,.2);}
nav .nav-link{display: block;position: relative;padding-left: 2rem;padding-top: 0.375rem;padding-bottom: 0.375rem;font-size: 17.5px;font-size: 1.25rem;font-weight: 700;color:#000;text-transform: uppercase;-webkit-transition: color .15s ease-in-out;transition: color .15s ease-in-out;}
nav .nav-link.active{color:rgba(0,0,0,.5);}
nav .nav-link.active::before{-webkit-transform: scaleY(1);-ms-transform: scaleY(1);transform: scaleY(1);}
nav .nav-link::before{content: "";position: absolute;width: 0;left: 0;top: 0;bottom: 0;border-right: 2px solid #000;-webkit-transition: -webkit-transform .15s ease-in-out;transition: -webkit-transform .15s ease-in-out;transition: transform .15s ease-in-out;transition: transform .15s ease-in-out,-webkit-transform .15s ease-in-out;-webkit-transform: scaleY(0);-ms-transform: scaleY(0);transform: scaleY(0)}
nav .nav-link:hover:not(.active):before {-webkit-transform: scaleX(1);-ms-transform: scaleX(1);transform: scaleX(1)}
nav .sections-nav-counter{display: inline-block;width: 24.5px;width: 1.75rem;font-weight: 400;font-size: 14px;font-size: 1rem;font-weight: bold;}

/* section */
section{position: relative;height: calc(100vh - 65px);padding-top:130px;}
.section-title{font-size:40px;color:var(--titColor);font-family: 'KBO-Dia-Gothic_bold';margin-bottom:40px;}

/* section-next */
.section-footer{position: absolute;bottom: 40px;}
.section-next-counter {margin-right: .75rem;font-size: 12.25px;font-size: .875rem;color: rgba(0,0,0,.4)}
.section-next-label {margin-right: .75rem;font-size: 10.5px;font-size: .75rem;font-weight: 700;text-transform: uppercase}
.section-next-icon {display: inline-block;width: 35px;width: 2.5rem;height: 14px;height: 1rem;margin-bottom: -.625rem;background: rgba(0,0,0,0) url(../images/icon/ic_section_next.svg) no-repeat 50%/100% 100%;}
.section-next:hover .section-next-icon {-webkit-animation: next-icon-bounce .365s ease-in-out 2;animation: next-icon-bounce .365s ease-in-out 2;}


/* article */
.article-title{font-size:20px; color:var(--fontColor);margin-bottom:15px;}

/* Top */
#top{position:relative; width:100%; height: 100vh; overflow: hidden;}
#top h2{display: inline-block; color:#000; font-size:60px; line-height: 100%; animation-name: cursor; animation-duration: 0.5s; animation-iteration-count: infinite;font-family: 'KBO-Dia-Gothic_bold';}
#top .name{display:block; position:relative; opacity: 0; color:#000; font-size:38px; animation-name: name; animation-duration: 1s; animation-delay:2s; animation-fill-mode: forwards;}
#top .top-text{position: relative;}
#top .top-text::after{content: "";position: absolute;left: 0;bottom: -2px;width: 84px;width: 6rem;border-bottom: 2px solid #000;    animation: display 1s cubic-bezier(.75,0,.45,1.1) .5s forwards;}
#top .greeting{font-size:17px; margin-top:15px;}
.display-animated:after{-webkit-transform-origin: left;-ms-transform-origin: left;transform-origin: left;-webkit-transform: scaleX(20) translate(100vw);-ms-transform: scaleX(20) translate(100vw);transform: scaleX(20) translate(100vw)}
.display-animated-in:after {-webkit-animation: display 1s cubic-bezier(.75,0,.45,1.1) .5s forwards;animation: display 1s cubic-bezier(.75,0,.45,1.1) .5s forwards}

/* about me */
.about-txt{color:var(--fontColor);font-size:17px;}
.about-txt + .about-txt{margin-top:20px;}

/* project */
#project .project-article{display: flex;justify-content: space-between;}
#project .project-article > div{width: calc(100% / 3 - 20px);}
#project .project-article > div:hover{color: #000;-webkit-transform: translateY(-1.2rem);-ms-transform: translateY(-1.2rem);transform: translateY(-1.2rem)opacity .75;transition: transform .15s linear;}
#project .project-article > div:hover .project-img{opacity: 1;}
#project .project-info{margin-top:10px;}
#project .project-img{opacity: .75;line-height:0;transition: opacity .15s linear;border:1px solid #dfdfdf;overflow: hidden;border-radius: 10px;}
#project .project-title{color:var(--titColor);font-size:20px;}
#project .project-company{color: var(--subFontColor);font-size:15px;font-family: 'NanumSquareL';font-weight: bold;}
#project .project-tags{margin-top:15px;color:var(--titColor);font-weight: bold;font-size: 13px;font-family: 'KBO-Dia-Gothic_bold';}

/* contact */
#contact > div .contact-label{display: block;margin-bottom: 5px;font-weight: 700;font-size: 15px; font-weight: bold;text-transform: uppercase;color:#000;    font-family: 'KBO-Dia-Gothic_bold';}
#contact > div p{font-size:18px;}
#contact .btn-primary{display:inline-block;color: #000;font-size:17px;padding:10px 20px;margin-top:40px;border: 2px solid #000;border-radius: 6px;}
#contact .contact-wrap{display: flex;}
#contact .contact-wrap > div + div{margin-left:40px;}

/* dialog */
.dialog{display: none; position: fixed;top: 0;left: 0;z-index: 1050;width: 100%;height: 100%;background: rgba(255,255,255,0.95); overflow: hidden;}
.dialog > .inner{height:100%;padding:200px 120px 100px 120px;overflow-y: auto;}
.dialog .dialog-title{font-size:4rem;font-family: 'KBO-Dia-Gothic_bold';color:#000;}
.dialog .dialog-subtitle{font-size:1.1rem;font-family: 'NanumSquareR';}
.dialog .dialog-close{position: absolute; top:40px; right:80px; width:40px; height:40px; background:url(../images/icon/close.svg) no-repeat;text-indent: -9999px;}
.dialog .con{display: flex;margin-top:40px;}
.dialog .index{margin-top:40px;}
.dialog .con .img{width:calc(100% - 400px); max-width: 1000px;line-height: 0;margin-left:100px;border:1px solid var(--borderColor);border-radius: 20px;overflow: hidden;box-shadow: 1px 1px 20px rgba(0,0,0,0.1);}
.dialog .con .txt{width: 400px;}
.dialog .con .txt p {color:#333;font-size:1.2rem;font-family: 'NanumSquareL';font-weight: bold;}
.dialog .project-tags.lg{color:#000;font-size:15px;font-weight: bold;    font-family: 'NanumSquareL';}

/* badge */
.c_badge {display:inline-block;line-height:25px;padding:0 10px;border-radius:20px;font-size:13px;font-weight:500;color:#fff;vertical-align: middle;background: #333;}
.c_badge.teal{background: #58c9b5; border:1px solid #58c9b5;}
.c_badge.blue{background:#3559c3;}



@keyframes cursor{
  0%{border-right: 1px solid #fff}
  50%{border-right: 1px solid #000}
  100%{border-right: 1px solid #fff}
}

@keyframes name{
  0%{opacity: 0; bottom:10px;}
  100%{opacity: 1; bottom:0;}
}

/* 메인링크 */



/* 모바일 */
@media all and (max-width: 1880px) {
  .nav-toggler{display: block;}
  nav{right:-360px;}
  .nav-active nav{right:0;}
  .nav-active .contents{transform: translateX(-360px);}
}

@media all and (max-width: 1680px) {
  #header .top-menu{width: 100%;}
}

@media all and (max-width: 1200px) {
  .contents{width: 100%;}
  .rows{width:100%; padding:0 50px;}
  #project .project-article > div:hover{color: #000;-webkit-transform: translateY(0);-ms-transform: translateY(0);transform: translateY(0)opacity .75;transition: transform .15s linear;}
  #project .project-article > div .project-img{opacity: 1;}

  /* dialog */
  .dialog .dialog-title{font-size:3rem;}
  .dialog .con{flex-direction: column-reverse;}
  .dialog .con .img{width:100%;margin-left:0;margin-bottom:20px;}
  .dialog .con .txt p{font-size: 1rem;}
  .dialog .index{width: 100%;overflow-x: auto;}
  .dialog .index table{width: 1200px;}
  .dialog .con .txt{width: 100%;}
}

@media all and (max-width: 768px) {
  /* layout */
  #header h1{font-size:20px;}
  .section-title{font-size:30px;}
  .article-title{font-size:18px;}
  .about-txt{font-size:17px;}
  .rows{width:100%; padding:0 20px;}
  .nav-toggler{right: 20px;}
  #section_03{height: auto;padding-bottom:90px;}

  /* top */
  #top h2{font-size:40px;}
  #top .name{font-size:22px;margin-top:20px;}
  #top .top-text::after{width: 3.7rem;}
  #top .greeting{font-size:15px;}

  /* project */
  #project .project-article{flex-wrap: wrap; margin-top:-30px;}
  #project .project-article > div{width: calc(50% - 10px);margin-top:30px;}
  #project .project-title{font-size:17px;}
  
  /* dialog */
  .dialog > .inner{padding:40px;}
  .dialog .dialog-close{right:20px;width: 20px;height: 20px;background-size: 100%;}
  
  /* contact */
  #contact .contact-wrap{flex-direction: column;}
  #contact .contact-wrap > div + div{margin: 20px 0 0 0;}
}

@media all and (max-width: 600px) {
    /* layout */
    .nav-active nav{right:50px;}
    .nav-active .contents{transform: translateX(-100%);}
}

@media all and (max-width: 500px) {
  #project .project-article > div{width: calc(100%);}
  
}