@charset "utf-8";

/* 인풋박스 공통 */
.input-box textarea{font-family: 'NanumSquareL'; font-weight: 600; color: #222; padding: 10px;}
.input-box textarea::placeholder{font-family: 'NanumSquareR'; font-weight: 600; text-align: center;}



/* 연습해보기 */
.con-box-practice{background: rgba(255,255,255,0.3);}
.sub-text {padding:0 20px;margin:20px 0;}
.sub-text span{display:inline-block;font-size:14pt; color:#3d4f02; font-weight: bold; font-family: 'NanumSquareR';}
.sub-text span::before{display:inline-block; content: ''; width:26px; height:24px; margin-right:5px; background:url('../img/contents/b.png') no-repeat; }
.sub-text p{padding-left:31px; font-size:12pt;color:#5a4133;}
.sub-text p::before{display:inline-block; content: ''; width:24px; height:14px;  margin-right:5px;background:url('../img/contents/b2.png') no-repeat; }

.music-box{position:relative; display:inline-block; width: 100%; text-align: center;}
.music-box img {position:relative; width:auto; vertical-align: top; z-index: 10;}
.music-box div.play-box{ bottom:0; display: inline-block;  vertical-align: top; z-index: 0;}

.music-box div.btn-box{width:87px; height:76px; text-align: center; margin:0 auto; background:url('../img/contents/bg_btn.png') center no-repeat; cursor: pointer;}
.music-box div.btn-box span{display:block; width:100%; height:100%; color:#fff; font-size:16px; padding-top: 16px; line-height: 125%;}
.music-box div.btn-box span.btn-pause{display:none; padding-top: 27.5px;}
.music-box div.btn-box a.btn-down{display:block; padding-top:12px;}

/* 정리하기 */
h4 {text-align:center; color:#fff; padding:5px 0; font-size:26px; background:#866d60;}
ul.theorem{font-size:0; padding: 15px 60px 30px; overflow: auto;}
ul.theorem li{position:relative; display:inline-block; width:50%; margin-bottom:17px;}
ul.theorem img{position:absolute; width:auto;}
ul.theorem li span{display:block; font-size: 20px;}
a.btn-print{position: absolute; }

/* MediaQuery */
@media all and (min-width: 320px) {
  /* 연습하기 */
  .music-box{padding: 0 40px;}
  .music-box div.play-box{position: relative;}
  .music-box img{display:block; margin: 0 auto; margin-top: 70px; margin-bottom:20px; max-width: 100%;}
  .music-box div.play-box img{display:none; margin-bottom:0;}
  .music-box div.play-box{position: absolute; bottom:auto;}
  .music-box div.m-box{top: -3%; left:50%; transform: translateX(-50%);}

  /* 정리하기 */
  ul.theorem{height: calc(100% - 45px - 64px - 13px);}
  ul.theorem li{ width:100%; margin-bottom:5px;}
  ul.theorem li span{font-size: 14px;}
  h4{font-size:22px;}
  ul.theorem li span{padding:10px 0 10px 55px;}
  a.btn-print{display:none; }


}


@media all and (min-width: 789px) {
  /* 연습하기 */
  .music-box img{display: inline-block; margin-top: 0; margin-bottom: 0;}
  .music-box div.play-box img{display:block;}
  .music-box div.play-box{position: absolute; bottom:0; vertical-align: top;}
  .music-box div.m-box{top: 45%; left:10.5%; transform: none;}
  .music-box div.d-box{right:13%;}

  /* 정리하기 */
  ul.theorem{height: 100%}
  ul.theorem li{width:50%; margin-bottom:17px;}
  h4{font-size:26px;}
  a.btn-print{display:block; top: 165px; right: 3%;}
}


@media all and (min-width: 1000px) {

  /* 연습하기 */
  .music-box div.m-box{left:18.5%;}
  .music-box div.d-box{right:21%;}

  /* 정리하기 */
  ul.theorem li span{font-size: 20px; padding:5px 0 5px 55px}
  a.btn-print{display:block; top: 24%; right: 2%;}
}
