@charset "utf-8";

html, body {max-width: 100%; height:100%; background: #fff; overflow-x:hidden; }
body{background: #ccc; overflow: hidden;}

/* 공통 */
#wrapper {position:relative; margin:0 auto; padding:0; background:#ccc; overflow: hidden;}
.section{position: relative; width: 100%;}
.section-bg{width: 100%; height: calc(100% - 40px); background: url(../img/common/bg.png) no-repeat; background-size: cover;}
.con-box{position: relative; width: 100%; height: 100%;}


/* 컨텐츠 제목 */
.title img{display: block; width: 100%;}
.sub-title{z-index: 2;}
.sub-title h2{text-align:left; padding-left: 20px; line-height: 0; background: rgba(0,0,0,0.5);}
.sub-title h2 span{display: inline-block; color: #fff; font-size: 24px; padding: 2px 20px 2px 20px; border-radius: 20px; background: #000; margin-right: 10px;}
.sub-title-quiz h2 span::before{content: ""; display: inline-block; background: #895c44 url('../img/common/subtitle_img_quiz.png') no-repeat 8px 5px; width: 30px; height: 30px; border-radius: 50%; margin-right: 10px;}
.sub-title-point h2 span::before{content: ""; display: inline-block; background: #895c44 url('../img/common/subtitle_img_point.png') no-repeat 4px 6px; width: 31px; height: 31px; border-radius: 50%; margin-right: 10px;}
.sub-title p{position: relative; display: inline-block; text-align: left; color:#fff; line-height: 2; padding-left: 30px;}
.sub-title p::before{position: absolute; top: 55%; transform: translateY(-50%); left: 0; content: ''; width:18px; height:18px; background:url('../img/common/subguide_img.png') no-repeat;}


/* 햄버거 버튼 */
.hamburger{position:absolute; display:inline-block; width: 30px; height: 86px; top: 55%; transform:translateY(-50%); right: 0; text-align:center; cursor:pointer; z-index:99999; transition: All 0.4s ease; -webkit-transition: All 0.4s ease; -moz-transition: All 0.4s ease; -o-transition: all 0.4s ease; background: #333; border-radius:6px 0 0 6px; border:2px solid #333; border-right:0; overflow:hidden;}
.hamburger__icon	{ position:relative; display:block; width:20px; top:18px; border:none; padding:0; margin:0 auto; -webkit-transform:translateY(-50%); transform:translateY(-50%); background:transparent; }
.hamburger__line	{ position:absolute; display:block; left:0; right:0; width:100%; height:3px; background:#fff; -webkit-transform:rotate(0.02deg); transform:rotate(0.02deg); -webkit-transition:-webkit-transform .4s ease; transition:transform .4s ease; }
.hamburger__line--1	{ top:0; -webkit-transform:translateY(-5px);transform:translateY(-5px) }
.hamburger__line--2	{ top:2px; -webkit-transform:translateY(0px);transform:translateY(0px) }
.hamburger__line--3	{ top:4px; -webkit-transform:translateY(5px);transform:translateY(5px) }
.hamburger span.menu-text{display:block; color:#333; height:50px; font-weight:bold; font-size:12pt; padding-top:3px; margin-top:40px; background:#fff; line-height: 120%;}

/* 메뉴 배경 */
.menu-bg{display: none; position: absolute; left: 0; top: 0;  width: 100%; height: 100%; background: rgba(0,0,0,0.5); z-index: 9999;}
.menu-bg.on{display: block;}

/* left-menu */
#left-menu {position:absolute; right: -300px; height:100%; background: #f5f5f5;  transition:all 0.5s ease; z-index: 99999; overflow-y:auto;}
#left-menu div.title-box{position:relative;}
#left-menu h3{display:block; height: 46px; color: #fff; font-family: 'NanumSquareL'; font-weight: 600; font-size: 14pt; letter-spacing: 2px; padding: 10px 25px; background: #333;}
#left-menu div.btn-close{position:absolute; top:0; right:0; width:40px; height:40px; background:url('../img/common/close.png') no-repeat; cursor: pointer;}
#left-menu a{display:block; color: #888; font-size: 12pt; padding: 8px 0; padding-left: 50px; vertical-align: middle; background:url('../img/common/menu_bullet_N_0001.png') left 25px center no-repeat;}
#left-menu a.current{color: #000; background: #fde261 url('../img/common/menu_bullet_N_0002.png') left 25px center no-repeat;}
#left-menu a.current:hover{background: #fde261 url('../img/common/menu_bullet_N_0002.png') left 25px center no-repeat;}
#left-menu a.current.color{background: #fde261 url('../img/common/menu_bullet_N_0002.png') left 25px center no-repeat;}
#left-menu a:hover{color: #000; background: url('../img/common/menu_bullet_N_0002.png') left 25px center no-repeat;}



/* 동영상 */
.mov-box{position: relative; margin:0 auto;}
.mov-box video{width:100%;  box-shadow: 0px 0px 5px rgba(0,0,0,0.8)  border:1px solid #000;}

/* 푸터 */
footer{position: relative; height: 40px; margin: 0 auto; background: url("../img/inc/logo.png") #fff center left 10px no-repeat; background-size: contain; z-index:999; }
#lms-area	{ float:left; height:38px; }
#lms-area a	{display:inline-block; height:30px; font-size:11pt; padding-left:28px; margin-left:25px;  background:url("../img/inc/footer_btn_type_02.png") no-repeat;}
#lms-area a:first-child{margin-left:0;}
#lms-area div.icon-box{display:none !important; position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); padding-top:12px;}
#lms-area a.support-1	{background-position-y:-4px;}
#lms-area a.support-2	{background-position-y:-36px; padding-left:32px}
#lms-area a.support-3	{background-position-y:-64px;}
#paging	{position: absolute; top:50%; right:20px; transform: translateY(-50%);}
#paging div	{ float:left; }
#paging a		{ float:left; overflow:hidden; width:20px; height:30px; text-indent:-9999px;}

#prev a	{ background:url("../img/inc/footer_btn_type_03.png") no-repeat;}

#page_num	{font:25px play; color:#666; line-height:28px; text-align:center; }
#page_num span{ display:inline-block; color:#333; font-size:22px; padding:0 5px; }


#search-area a{display:inline-block; padding:0;}
#search-text{width:460px; height:35px; font:16px ntsL; color:#666; line-height:20px; vertical-align:middle; border:3px solid #000; background:#FFF; padding:0 5px; -webkit-box-sizing:border-box; box-sizing:border-box; -moz-box-sizing:border-box; -o-box-sizing:border-box;}
#search-btn	{width:55px; height:35px; font:17px ntsM; color:#FFF; line-height:32px; vertical-align:middle; background:#000;}
#search-close	{position:absolute; width:25px; height:25px; right:25px; top:-2px; text-indent:-9999px; background:url("../img/inc/search_btn_1.png") no-repeat; z-index:12;}
#map{display:none;}


/* 모바일 */
@media all and (min-width: 320px) {

  /* 레이아웃 */
  #wrapper {width:100%; height:100%;}

  /* 동영상*/
  .mov-box{width:100%; height:auto; margin-top:0;}

  /* 컨텐츠 제목 */
  .sub-title h2{text-align:center; padding-left:0; margin-right: 0;}
  .sub-title h2 span{width:100%; font-size: 20px; text-align:left; border-radius: 0; font-family: 'NanumSquareL'; font-weight: 600;}
  .sub-title p{font-size:14px; margin: 0 20px;}

  /* left-menu */
  #left-menu {width: 270px;}

  /* 푸터 */
  #lms-area{padding:8px 0 0 90px;}
  #lms-area a	{ margin-left:15px;}

  #page_num span{font-size:18px;}
  #page_num{padding:0 5px;}
  #paging a{width:10px;}
  #prev a{ background:url("../img/inc/footer_btn_type_13.png") center left no-repeat;}
  #next a	{ background:url("../img/inc/footer_btn_type_13.png") center right no-repeat;}
  #lms-area div.icon-box{display:none;}
}


@media all and (min-width: 789px) {

  /* 컨텐츠 제목 */
  .sub-title p{font-size: 16px;}

  /* left-menu */
  #left-menu {width: 300px;}

  /* 푸터 */
  #lms-area	{ padding:12px 0 0 155px; }
  #lms-area a	{margin-left:25px; }
  #paging	{ float:right; padding:3px 0 0 0;}
  #page_num{padding:0 10px;}
  #page_num span{font-size:22px;}
  #paging a{width:20px;}
  #prev a	{ background:url("../img/inc/footer_btn_type_03.png") no-repeat; }
  #next a	{ background:url("../img/inc/footer_btn_type_03.png") -20px 0 no-repeat; }
  #lms-area div.icon-box{display:block;}

}

@media all and (min-width: 1000px) {
  /* 레이아웃 */
  #wrapper {width: 1014px; height: 610px;}

  /* 컨텐츠 제목 */
  .sub-title h2{text-align:left;}
  .sub-title h2 span{width:auto; font-size: 20px; text-align:left; border-radius: 0 20px 20px 0;}
  .sub-title h2 p{margin: 0;}

  /* 동영상 */
  .mov-box{position:relative; width:100%; height:calc(100% - 40px);}

  /* 푸터 */
  #prev a:hover{ background-position:0 bottom; }



}
