@charset "utf-8";

/* menu */
.gnb-wrap .k-menu {background:#0c4da2 !important;border-top:0;important;*zoom:1;}
.gnb-wrap .k-menu:after {content:"";display:block;clear:both;}
.gnb-wrap .k-menu>li {float:left; text-align:center !important;border-right:1px solid #2b333f !important; border-bottom:1px solid #2b333f !important; background:#0c4da2 !important;}
.gnb-wrap .k-menu>li:hover {background:#4e5966 !important;}
.gnb-wrap .k-menu .k-item>.k-link {color:#fff; padding:12px 20px 12px 15px !important;}
.gnb-wrap .k-menu>li>a {display:block;font-size:12px !important;}
.gnb-wrap .k-menu li a .gnbicon {display:inline-block;width:30px;height:30px; vertical-align: middle;margin-right:5px;background-image:url(../../images/admin/icon/gnb_icon.png);}
.gnb-wrap .k-menu li a .gnbicon001 {background-position: 0 0;}
.gnb-wrap .k-menu li a .gnbicon002 {background-position: 0 -28px;}
.gnb-wrap .k-menu li a .gnbicon003 {background-position: 0 -56px;}
.gnb-wrap .k-menu li a .gnbicon004 {background-position: 0 -83px;}
.gnb-wrap .k-menu li a .gnbicon005 {background-position: 0 -110px;}
.gnb-wrap .k-menu li a .gnbicon006 {background-position: 0 -138px;}
.gnb-wrap .k-menu li a .gnbicon007 {background-position: 0 -168px;}
.gnb-wrap .k-menu li a .gnbicon008 {background-position: 0 -195px;}
.gnb-wrap .k-menu li a .gnbicon009 {background-position: 0 -223px;}
.gnb-wrap .k-menu li:hover a .gnbicon001 {background-position: -32px 0;}
.gnb-wrap .k-menu li:hover a .gnbicon002 {background-position: -32px -28px;}
.gnb-wrap .k-menu li:hover a .gnbicon003 {background-position: -32px -56px;}
.gnb-wrap .k-menu li:hover a .gnbicon004 {background-position: -32px -83px;}
.gnb-wrap .k-menu li:hover a .gnbicon005 {background-position: -32px -110px;}
.gnb-wrap .k-menu li:hover a .gnbicon006 {background-position: -32px -138px;}
.gnb-wrap .k-menu li:hover a .gnbicon007 {background-position: -32px -168px;}
.gnb-wrap .k-menu li:hover a .gnbicon008 {background-position: -32px -195px;}
.gnb-wrap .k-menu li:hover a .gnbicon009 {background-position: -32px -223px;}
.gnb-wrap .k-menu li a .k-i-arrow-s {background:url(../../images/admin/icon/sprite_white.png) no-repeat 0 -32px;}
.gnb-wrap .k-menu li ul li {display:block;background:#444d58 !important;padding:14px; text-align:left; }
.gnb-wrap .k-menu .k-menu-group .k-item>.k-link{padding:0px 10px 0px 0px !important;}
.gnb-wrap .k-menu .k-menu-group .k-item>.k-link .k-icon.k-i-arrow-e{background:url(../../images/admin/icon/sprite_white.png) no-repeat 0 -273px;}
.gnb-wrap .k-menu .k-menu-group .k-item>.k-link .k-icon.k-i-arrow-e:hover {background:#399bff url(../../images/admin/icon/sprite_white.png) no-repeat 0 -273px !important;}
.gnb-wrap .k-menu .k-state-active  {background:none; }
.gnb-wrap .k-menu .k-group.k-menu-group {border:none !important;top:2px;}
.gnb-wrap .k-menu .k-group.k-menu-group li {border:none !important;border-bottom:1px solid #2b333f !important;}
.gnb-wrap .k-menu .k-group.k-menu-group li:hover {background:#399bff !important;}
.gnb-wrap .k-menu .k-group.k-menu-group li:hover a { color:#fff !important;}

/** 그리드 **/
.k-grid-header th.k-header {text-align:center !important; vertical-align:middle; }
.k-grid-content .k-button {padding:0; min-width:30px !important; }
.k-grid tbody a {color:#428bca;}
.k-grid tbody a:hover {text-decoration:underline;}
.k-grid .k-state-selected a, .k-grid .k-state-selected td { color:#ffffff; }
.k-grid tbody button.k-button {min-width:50px;}

/** 탭 **/

/** 업로드 **/
.k-upload .k-filename {max-width:100%;}

/** 기타 ui **/
.k-radio-label {margin-right:5px;}
.k-checkbox-label {margin-right:5px;}

/* k-tabstrip reset 디자인 탭 리셋
.class .k-tabstrip {border:none;background:none;}
.class .k-tabstrip .k-tabstrip-items {padding:0;}
.class .k-tabstrip-items .k-item {position:static;border:0;border-radius:0;background:none;}
.class .k-tabstrip-items .k-link {padding:0;border-radius:0;}
.class .k-tabstrip .k-state-active {border:0;}
.class .k-tabstrip > .k-content {position:relative;margin:0;padding:0;border:0;}
.class .k-tabstrip:focus {background:none;box-shadow:none;}
.class .k-tabstrip-items .k-loading {border:0;}
*/

/** 교수자 대쉬보드 탭 **/
.k-tab-wrap {clear:both;}
.k-tab {border:1px solid #c6c6c6;}
.k-tab .k-tab-head {height:39px;background:#f1f1f1;border:none;border-bottom:1px solid #c6c6c6;padding:0 10px;}
.k-tab .k-tab-head li {float:left;border:none;background:none;background:url(../../images/admin/bg/tab_line.gif) no-repeat 0 50%;}
.k-tab .k-tab-head li:first-child {background:none;}
.k-tab .k-tab-head li a {color:#7f7f7f;font-size:14px;line-height:39px;height:39px;padding:0 10px;}
.k-tab .k-loading.k-complete {display:none;}
.k-tab .k-tab-head .k-state-active a {font-weight:bold;color:#000 !important;}
.k-tab .k-tab-con {background:#fff;border:none;margin:0;height:260px;}
.k-tab .k-tab-con li {position:relative;padding:18px 75px 18px 5px;border-top:1px solid #e1e1e1;}
.k-tab .k-tab-con li:first-child {border-top:none;}
.k-tab .k-tab-con li a {display:block;text-overflow:ellipsis;white-space:nowrap;overflow:hidden;color:#666;font-size:14px;letter-spacing:-1px;}
.k-tab .k-tab-con li span {position:absolute;top:14px;right:0;display:inline-block;width:44px;padding-left:21px; height:21px;line-height:21px; background:url(../../images/admin/icon/tea_main_tab_icon.gif) no-repeat 0 -20px;letter-spacing:-1px;font-size:12px;color:#3c3c3c;}
.k-tab .k-tab-con li .reply-on {background:url(../../images/admin/icon/tea_main_tab_icon.gif) no-repeat 0 0;}
.k-tabstrip:focus {box-shadow:none !important; }

/** k-window **/
div.k-window, .k-window.k-state-focused {border:2px solid #399bff;background:#399bff;}
.k-window-titlebar {font-weight:bold;color:#fff;font-size:1.1em;background-color:#399bff;}
.k-window-title {top:0.4em;padding-right:2em;}
.k-window .k-icon.k-i-close {width:19px;height:19px;background:url("../../images/admin/btn/k_i_close.gif") no-repeat 0 0 !important;}
.k-window .k-state-hover, .k-window .k-state-hover:hover {background:none;border:0;box-shadow:none;}
.k-window-titlebar .k-window-actions {padding-top:0.3em;right:0.35em;}
.k-window-titlebar .k-window-action {width:19px;height:19px;padding:0;opacity:1;}

@media screen and (max-width:980px) {
.gnb-wrap .k-menu li a .gnbicon, .headtop-menu .global .headtop-box.box02, .headtop-menu .global .menu .access {display:none;}
.gnb-wrap .k-menu > .k-item>.k-link {box-sizing:border-box;}
}
