@charset "utf-8";

/* layout */
#container {margin-top:115px;}
#container .content {min-height:400px;padding:20px 15px 50px 15px;background-color:#fff;}
#container:after {clear:both;display:block;content:" ";}
#container.detail {background:#fff url("../../images/admin/bg/body_detail.gif") repeat-y 0 0;}
#container .content {padding:20px 15px 50px 15px;}
table.bowl > tbody > tr > td {vertical-align:top;}
.mainhead {position:fixed;top:0;left:0;width:100%;min-width:980px;background:#e5e6e6;*zoom:1;letter-spacing:-1px;z-index:100;border-bottom:1px solid #d5d5d5;}
.mainhead:after {content:'';display:block;clear:both;}
.mainhead .logo {position:absolute;top:10px;left:10px;}
.mainhead .headtop-menu {float:right;*zoom:1; padding-right:20px;z-index:300;position:relative;}
.mainhead .headtop-menu:after  {content:'';display:block;clear:both;}
.mainhead .headtop-menu .headtop-box {position:relative;float:left;height:55px;}
.headtop-menu .headtop-box dt {padding:0 0px 0 20px;color:#494949;vertical-align:middle;cursor:pointer;}
.headtop-menu .headtop-box dt>div {height:55px;line-height:55px;padding-right:20px;margin-right:15px; background:url(../../images/admin/common/headtop_arrow_blue.png) no-repeat 100% 50%;font-size:11px;}
.headtop-menu .headtop-box.box01 dt {background:url(../../images/admin/bg/headtop_line.gif) no-repeat 100% 50%; }
.headtop-menu .headtop-box.box02 dt {background:url(../../images/admin/bg/headtop_line.gif) no-repeat 0% 50%; }
.headtop-menu .headtop-box.box01.on dt,
.headtop-menu .headtop-box.box01:hover dt {background:#fff url(../../images/admin/bg/headtop_line.gif) no-repeat 100% 50%;}
.headtop-menu .headtop-box.box02.on dt,
.headtop-menu .headtop-box.box02:hover dt {background:#fff url(../../images/admin/bg/headtop_line.gif) no-repeat 0% 50%; }
.headtop-menu .headtop-box dt .adminpic {width:40px; height:40px; position:relative; display:inline-block;margin:0px 10px 0 0;display:inline-block;vertical-align: middle;background:url(../../images/admin/bg/pic_sample.gif) no-repeat 0 0;}
.headtop-menu .headtop-box dt .adminpic .round {position:absolute;top:0px;left:0; display:block;width:40px;height:40px;z-index:3;vertical-align:middle;}
/*.headtop-menu .headtop-box:hover  dt .adminpic .round{background:url(../../images/admin/bg/adminpic_bg_ho.png) no-repeat 0 0;}*/
.headtop-menu .headtop-box dt .adminpic img {width:100%;height:40px;vertical-align:top;}
.headtop-menu .headtop-box dt .ipnum {color:#0c4da2;}
.headtop-menu .headtop-box dd {background:#fff; border:1px solid #c5c8c9;}
.headtop-menu .headtop-box dd .adminmail {padding:14px;border-bottom:1px solid #c5c8c9;color:#399bff;font-size:14px;}
.headtop-menu .headtop-box dd .admininfo {padding:14px;}
.headtop-menu .headtop-box dd .admininfo li {line-height:22px;}
.headtop-menu .headtop-box dd .admininfo li a {padding-left:15px;color:#666;}
.headtop-menu .headtop-box dd .admininfo .admininfo01 a {background:url(../../images/admin/icon/admininfo_icon.gif) no-repeat 0 3px;}
.headtop-menu .headtop-box dd .admininfo .admininfo02 a {background:url(../../images/admin/icon/admininfo_icon.gif) no-repeat 0 -23px;}
.headtop-menu .headtop-box.box02 {width:150px;}
.headtop-menu .headtop-box.box02 dd >ul {background:#fff;}
.headtop-menu .headtop-box.box02 dd >ul li {padding:10px;}
.headtop-menu .headtop-box.box02 dd >ul li a {color:#666;}
.headtop-menu .visitdate {float:left;padding:0 20px;height:55px;line-height:55px;font-size:11px;color:#494949;}
.headtop-menu .visitdate:hover {background:#fff;}
.headtop-menu .visitdate .visit {padding-left:17px;background:url(../../images/admin/icon/visitdate_icon.png) no-repeat 0 1px;}
.headtop-menu .visitdate .date {font-weight:bold;color:#ef5656;}

.headtop-menu .icon-menu-wrap {float:left;}
.headtop-menu .icon-menu {float:left;position:relative;padding:0 5px;position:relative;}
.headtop-menu .icon-menu>a {line-height:55px;}
.headtop-menu .icon-menu .msg {position:relative;}
.headtop-menu .icon-menu .msg .count {display:block;position:absolute;top:-15px;right:-10px; width:21px;height:21px;line-height:21px;background:url(../../images/admin/common/msg_bg.png) no-repeat 0 0;color:#fff;text-align: center;font-size:10px;}
.headtop-menu .icon-menu .over {position:absolute;top:46px;right:0px;width:278px;padding-top:9px;background:url(../../images/admin/icon/iconover_tail.png) no-repeat 97.5% 0;}
/*.headtop-menu .icon-menu .over .tail {display:block;width:16px;height:9px;position:absolute;top:-9px;right:0;}*/
.headtop-menu .icon-menu .over .title {padding:14px;background:#333;color:#8f9ba2;background:#333;}
.headtop-menu .icon-menu .over .title span {color:#fff;}
.headtop-menu .icon-menu .over ul {border:1px solid #c5c8c9;border-top:none;border-bottom:none;background:#fff;}
.headtop-menu .icon-menu .over ul li {padding:10px;border-bottom:1px solid #e5e5e5;overflow:hidden;white-space: nowrap;text-overflow:ellipsis;}
.headtop-menu .icon-menu .over ul li a {color:#399bff;}
.headtop-menu .icon-menu .over ul li .date {display:block; color:#96a3aa;}
.headtop-menu .icon-menu .over .allview {padding:14px; background:#fff url(../../images/admin/icon/arrow.gif) no-repeat 98% 50%;border:1px solid #c5c8c9;border-top:none;}
.headtop-menu .icon-menu .over .allview a {color:#707d84;}
.headtop-menu .global {position:relative;}
.headtop-menu .global .menu {overflow:hidden;float:left;}
.headtop-menu .global .fc {float:left;line-height:55px;}
.headtop-menu .global .fc a {display:inline-block;height:26px;line-height:26px;margin:0 2px;padding:0 10px;border-radius:4px;font-size:12px;font-weight:bold;color:#fff;}
.headtop-menu .global .fc .blue {background-color:#232e6b;}
.headtop-menu .global .fc .gray {background-color:#676c71;}
.headtop-menu .global .menu li {position:relative;float:left;line-height:55px;padding:0 10px;font-size:12px;}
.headtop-menu .global .menu a {font-size:12px;}
.headtop-menu .global .menu li:before {content:" ";position:absolute;left:0;top:50%;width:1px;height:12px;margin-top:-7px;background-color:#6bb4ff;}
.headtop-menu .global .menu li:first-child:before, .headtop-menu .global .menu .ip:before {display:none;}
.headtop-menu .global .menu .num {color:#0c4da2;}
.headtop-menu .global .menu .date {font-weight:bold;color:#ef5656;}
.headtop-menu .global .headtop-box dt {padding-left:10px;}
.headtop-menu .global .headtop-box.box02 {width:auto;}
.gnb-wrap {width:100% !important;min-width:980px; position:relative !important;z-index:10 !important;letter-spacing:-1px !important;position:fixed  !important;top:55px !important;left:0 !important;}
.location-wrap {padding:18px;letter-spacing:-1px; background:#f5f7f8;border-bottom:1px solid #d5d5d5;}
.location-wrap:after {clear:both;display:block;content:" ";}
.location-wrap .location-title {float:left;color:#000;font-size:18px;font-weight:normal;font-weight:bold;}
.location-wrap .location {float:left;margin-top:4px;}
.location-wrap .location a {padding:0 0 0 15px;margin-left:10px;background:url(../../images/admin/icon/location_icon02.gif) no-repeat 0 3px; color:#95a2a9;}
.location-wrap .location .home {color:#399bff;background:url(../../images/admin/icon/location_icon01.gif) no-repeat 0 1px; font-weight:bold;}
.location-wrap .location .here {color:#399bff;font-weight:bold;}

.footer {width:100%;}
.footer {background:#fff; border-top:1px solid #D8D8D8; clear:both;}
.footer .copyright {clear:both; padding:10px 0 10px 100px; font-family:tahoma;text-align:center;}
.footer .copyright strong {color:#00535D;}
.footer ul li {float:left;}

/* dash manager */
.dash.manager {width:1000px;margin:0 auto;}
.dash.manager:after {clear:both;display:block;content:" ";}

/* k-tabstrip reset */
.manager .k-tabstrip {border:0;background:none;}
.manager .k-tabstrip .k-tabstrip-items {padding:0;}
.manager .k-tabstrip-items .k-item {position:static;border:0;border-radius:0;background:none;}
.manager .k-tabstrip-items .k-link {padding:0;border-radius:0;}
.manager .k-tabstrip .k-state-active {border:0;}
.manager .k-tabstrip > .k-content {position:relative;margin:0;padding:0;border:0;}
.manager .k-tabstrip:focus {background:none;box-shadow:none;}
.manager .k-tabstrip-items .k-loading {border:0;}

.manager .box {margin-bottom:15px;border:1px solid #c5c5c5;background-color:#fff;}
.manager .box .head {position:relative;height:39px;line-height:39px;padding:0 15px;border-bottom:1px solid #c4c4c4;background-color:#f1f1f1;}
.manager .box h2 {font-size:14px;font-weight:bold;color:#000;}
.manager .box .head .add {position:absolute;right:15px;top:0;font-size:12px;}
.manager .head.guide h2 {display:inline-block;}
.manager .head.guide .text {display:inline-block;margin-left:10px;padding-left:11px;background:url("../../images/admin/bg/m_box_guide.gif") no-repeat 0 50%;}
.manager .box .head .em {color:#399bff;}
.manager .box .view {position:relative;padding:0 20px;}

.box.member {float:left;width:490px;height:307px;}
.box.member .view {padding:15px 20px 0 20px;}
.box.member .chart {width:320px;height:240px;}
.box.member .state {position:absolute;right:20px;top:22px;}
.box.member .state > span {text-align:center;display:block;width:115px;height:77px;padding-top:28px;border:1px solid #bac7cd;font-size:12px;color:#4c616b;background-color:#dce5e9;}
.box.member .state .num {display:block;font-size:29px;font-family:tahoma;}
.box.member .state .on .num {color:#4c616b;}
.box.member .state .all  {margin-top:9px;}
.box.member .state .all .num {color:#399bff;}

.box.system {float:left;width:490px;height:307px;margin-left:15px;}
.box.system ul {overflow:hidden;padding:23px 10px 21px 10px;}
.box.system li {text-align:center;float:left;width:135px;height:223px;padding:0 10px;border-left:1px solid #e1e1e1;}
.box.system li:first-child {border-left:0;}
.box.system li a {display:block;padding-top:93px;font-size:16px;font-weight:bold;color:#000;}
.box.system .sche a {background:url("../../images/admin/bg/m_system_sche.gif") no-repeat 50% 21px;}
.box.system .semester a {background:url("../../images/admin/bg/m_system_semester.gif") no-repeat 50% 21px;}
.box.system .grade a {background:url("../../images/admin/bg/m_system_grade.gif") no-repeat 50% 21px;}
.box.system .desc {line-height:1.4;margin-top:20px;letter-spacing:-1px;}

.box.board {clear:both;height:144px;}
.box .slide-menu {position:relative;height:94px;padding-top:10px;}
.box .slide-menu ul:after {clear:both;display:block;content:" ";}
.box .slide-menu li {text-align:center;float:left;width:110px;margin:0 10px;}
.box .slide-menu li a {position:relative;display:block;height:27px;padding:56px 0 0 0;letter-spacing:-1px;font-size:14px;color:#000;background-repeat:no-repeat;background-position:50% 10px;}
.box .slide-menu .disable a {color:#a3a3a3;cursor:default;}
.box .slide-menu .notice a {background-image:url("../../images/admin/bg/m_menu_notice.gif");}
.box .slide-menu .pop a {background-image:url("../../images/admin/bg/m_menu_pop.gif");}
.box .slide-menu .data a {background-image:url("../../images/admin/bg/m_menu_data.gif");}
.box .slide-menu .qna a {background-image:url("../../images/admin/bg/m_menu_qna.gif");}
.box .slide-menu .faq a {background-image:url("../../images/admin/bg/m_menu_faq.gif");}
.box .slide-menu .free a {background-image:url("../../images/admin/bg/m_menu_free.gif");}
.box .slide-menu .staff a {background-image:url("../../images/admin/bg/m_menu_staff.gif");}
.box .slide-menu .new {text-align:center;position:absolute;left:60%;top:6px;width:21px;height:21px;line-height:21px;font-size:10px;color:#fff;background:url("../../images/admin/common/msg_bg.png") no-repeat 0 0;}
.box .slide-menu .notice .new {left:54%;}
.box .slide-menu .data .new {left:58%;}
.box .slide-menu .faq .new {left:59%;}

.box.course .view {overflow:hidden;padding:20px;height:327px;}
.box.course .state {float:left;width:315px;}
.box.course .chart {float:left;width:618px;margin-left:25px;}
.box.course .state dl {text-align:center;float:left;width:153px;border:1px solid #424e5d;color:#fff;}
.box.course .state dt {height:93px;border-bottom:1px solid #424e5d;background-color:#6b85a5;}
.box.course .state dd {height:42px;line-height:42px;font-size:18px;font-weight:bold;background-color:#4f6d91;}
.box.course .state .em {color:#9ad9ff;}
.box.course .state .gray dt {background-color:#808c9b;}
.box.course .state .gray dd {background-color:#6a7a8e;}
.box.course .state .d-gray dt {background-color:#5f6369;}
.box.course .state .d-gray dd {background-color:#4e5259;}

.box.course .state .temp {margin-bottom:5px;margin-right:5px;}
.box.course .state .subject {clear:both;float:left;margin-right:5px;}
.box.course dt span {display:block;padding-top:65px;font-size:14px;font-weight:bold;color:#fff;background-repeat:no-repeat;background-position:50% 40%;}
.box.course .temp dt span {background-image:url("../../images/admin/bg/m_course_temp.png");}
.box.course .answer dt span {background-image:url("../../images/admin/bg/m_course_answer.png");}
.box.course .subject dt span {background-image:url("../../images/admin/bg/m_course_subject.png");}
.box.course .open dt span {background-image:url("../../images/admin/bg/m_course_open.png")}
.box.course .state .board {float:left;}
.box.course .state .board:after {clear:both;display:block;content:" ";}
.box.course .aver {position:absolute;left:0;top:50px;width:155px;height:100px;}
.box.course .aver .info {position:relative;padding:15px 0 15px 60px;font-size:12px;color:#676a78;}
.box.course .aver .info:first-child {border-bottom:1px solid #cad2da;}
.box.course .aver .info .thumb {position:absolute;top:24px;left:27px;}
.box.course .aver .info p {text-align:center;padding-right:20px;}
.box.course .aver .info .per {display:block;margin:7px 0 0 0;font-size:16px;font-weight:bold;color:#45a1ff;}
.box.course .aver .progress .thumb {left:32px;}
.box.course .chart .graph {padding-left:175px;}
.box.course .k-tab :after {clear:both;display:block;content:" ";}
.box.course .k-tab > ul > li {text-align:center;float:left;width:142px;}
.box.course .k-tab > ul > li a {display:block;height:32px;line-height:32px;border:1px solid #bcc9cf;font-size:12px;font-weight:bold;color:#777;background-color:#fff;}
.box.course .k-tab .k-state-active a {color:#fff;border:1px solid #2a2f36;background-color:#444d58;}
.box.course .k-tab .k-content {padding-top:20px;}
.box.course .catalog .noti {height:25px;font-size:14px;font-weight:bold;color:#45a1ff;}
.box.course .catalog li {margin-top:5px;}
.box.course .catalog li:first-child {margin-top:0;}
.box.course .catalog .tab {text-align:center;vertical-align:middle;display:table-cell;width:81px;height:55px;font-size:14px;color:#fff;background-color:#45a1ff;}
.box.course .catalog .cont {display:table-cell;width:530px;border:1px solid #bcc9cf;border-left:0;}
.box.course .catalog .sche {text-align:center;vertical-align:middle;display:table-cell;width:125px;height:53px;padding:0 15px;letter-spacing:-1px;font-size:12px;font-weight:bold;color:#333333;}
.box.course .catalog .desc {vertical-align:middle;display:table-cell;width:245px;padding:0 15px;background:url("../../images/admin/bg/bar_course_catalog.gif") no-repeat 0 50%;}
.box.course .catalog .desc .group {font-size:12px;color:#777;}
.box.course .catalog .desc .subject {display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:245px;margin-top:3px;font-size:14px;font-weight:bold;color:#45a1ff;}
.box.course .catalog .d-day {text-align:center;vertical-align:middle;display:table-cell;width:80px;padding:0 10px;background:url("../../images/admin/bg/bar_course_catalog.gif") no-repeat 0 50%;}
.box.course .catalog .d-day span {display:block;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;width:80px;font-size:24px;font-weight:bold;color:#45a1ff;}
.box.course .catalog .past .tab {background-color:#808c9b;}
.box.course .catalog .past .cont {background-color:#ebebeb;}
.box.course .catalog .past .sche {color:#808c9b;}
.box.course .catalog .past .subject {color:#808c9b;}
.box.course .catalog .past .d-day span {color:#808c9b;}

.box.cont {}
.box.cont .view {overflow:hidden;height:126px;padding:15px 0;}
.box.cont .state {text-align:center;float:left;width:180px;height:68px;padding-top:58px;border-right:1px solid #e1e1e1;font-size:14px;font-weight:bold;color:#555;background:url("../../images/admin/bg/m_cont_state.gif") no-repeat 50% 27px;}
.box.cont .state .num {display:block;font-family:Tahoma;font-size:18px;font-weight:normal;color:#000;}
.box.cont .chart {float:left;padding-left:22px;}
.box.cont .chart .graph {margin-top:10px;}
.box.cont .chart .graph:first-child {margin-top:0;}
.box.cont .chart .kind {vertical-align:middle;display:inline-block;width:45px;font-size:12px;color:#000;}
.box.cont .chart .num {margin-left:5px;font-size:12px;font-weight:bold;color:#666;}
.box.cont .chart .bar {vertical-align:middle;display:inline-block;width:680px;height:8px;border-radius:4px;background-color:#e1e1e1;}
.box.cont .chart .bar span {display:block;height:8px;border-radius:4px;background-color:#444d58;}
.box.cont .chart .bar.blue span {background-color:#399bff;}

.box.message {float:left;width:491px;margin-left:15px;}
.box.message .chart {overflow:hidden;height:126px;padding:15px 5px;}
.box.message .chart li {text-align:center;vertical-align:middle;float:left;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;width:33%;padding-top:12px;border-left:1px solid #e1e1e1;}
.box.message .chart li:first-child {width:34%;border-left:0;}

/* slide-menu */
.box .slide-menu .slide-container {width:910px;margin:0 auto;}
.box .slide-menu .control {position:absolute;top:35px;width:32px;height:32px;text-indent:-9999px;background:url("../../images/admin/bg/control_slide_menu.png") no-repeat 0 0;}
.box .slide-menu .prev {left:20px;}
.box .slide-menu .next {right:20px;background-position:0 -32px;}


/* dash teacher */
.dash.teacher {width:1024px; margin: -18px auto;}
.dash.teacher:after {clear:both;display:block;content:" ";}

.tea-lefarea {float:left; position:relative;width:200px;background:#e2e4e7;height:100%;}
.tea-lefarea .tea-dash-leclist {border-right:1px solid #c9c9c9;border-left:1px solid #c9c9c9;}
.tea-lefarea .tea-dash-leclist li {padding:10px;border-bottom:1px solid #c9c9c9;}
.tea-lefarea .tea-dash-leclist li.on {background:#5477a2;}
.tea-lefarea .tea-dash-leclist li h2{margin-bottom:5px;}
.tea-lefarea .tea-dash-leclist li h2 a {color:#8c8c8c;font-size:14px;line-height:140%;}
.tea-lefarea .tea-dash-leclist li.on h2 a {/*text-decoration:underline;*/border-bottom:1px solid #fff; color:#fff;font-weight:bold;}
.tea-lefarea .tea-dash-leclist li p {font-size:12px;color:#8c8c8c;margin-bottom:5px;letter-spacing:-1px;}
.tea-lefarea .tea-dash-leclist li.on p {color:#cbd3e0;}
.tea-lefarea .tea-dash-leclist li .replyarea {position:relative;margin-top:8px; padding-top:8px;border-top:1px solid #c9c9c9;}
.tea-lefarea .tea-dash-leclist li .replyarea .reply {display:inline-block;padding-left:25px;line-height:20px; background:url(../../images/admin/icon/tea_reply_icon.png) no-repeat 0 -20px; color:#8c8c8c;}
.tea-lefarea .tea-dash-leclist li .replyarea .count {display:inline-block;position:absolute; top:7px;right:0;color:#fff;font-size:16px;padding:2px 5px;border-radius:3px; background:#858995;text-align:center;min-width:20px;}
.tea-lefarea .tea-dash-leclist li.on .replyarea .reply {background:url(../../images/admin/icon/tea_reply_icon.png) no-repeat 0 0px;color:#fff;}
.tea-lefarea .tea-dash-leclist li.on .replyarea .count {background:#d34646;}
.tea-lefarea .tea-leclist-more {position:absolute;bottom:0;left:0;}

.tea-rightarea {float:left;padding:14px 0 0 14px; width:810px;}
.tea-rightarea .tea-titlearea {overflow:hidden;padding:10px 0;}
.tea-rightarea .tea-titlearea h3 {float:left;font-size:26px;font-weight:bold;letter-spacing:-2px;color:#333;margin-right:15px;padding-right:15px;border-right:1px solid #a4aeb4;line-height:35px;}
.tea-rightarea .tea-titlearea .lec-term  {float:left;}
.tea-rightarea .tea-titlearea .lec-term img {display:inline-block;vertical-align:middle;margin-top:-5px;}
.tea-rightarea .tea-titlearea .lec-term span {display:inline-block; width:115px; height:35px; line-height:35px;padding-left:10px; background:url(../../images/admin/bg/datepicup_bg.gif) no-repeat 0 0;;font-size:18px;font-weight:bold; letter-spacing:1px;}

.tea-rightarea .mainboard-box {overflow:hidden;float:left; height:160px;border:1px solid #c6c6c6;background:#fff;text-align:center;margin-bottom:14px;}
.tea-rightarea .mainboard-box.persons {width:204px;}
.tea-rightarea .mainboard-box.persons .inner {padding-top:80px;background:url(../../images/admin/icon/tea_main_icon01.gif) no-repeat 50% 30%;font-size:14px;color:#333;font-weight:bold;}
.tea-rightarea .mainboard-box.persons .inner strong {display:block;font-size:34px;color:#4c616b; letter-spacing:-1px;}
.tea-rightarea .mainboard-box.progress {width:285px;margin-left:15px;overflow:hidden;}
.tea-rightarea .mainboard-box.progress .inner {padding-top:55px;float:left;margin:40px;font-weight:bold;}
.tea-rightarea .mainboard-box.progress .icon01 {background:url(../../images/admin/icon/tea_main_icon02.gif) no-repeat 3px 0;}
.tea-rightarea .mainboard-box.progress .icon02 {background:url(../../images/admin/icon/tea_main_icon03.gif) no-repeat 0 0;}
.tea-rightarea .mainboard-box.progress .chart {float:left;position:relative;width:110px;height:116px;margin-top:20px;}
.tea-rightarea .mainboard-box.progress .chart .chart-txt{position:absolute;top:42px;right:25px;font-size:20px;color:#51a7ff;}
.tea-rightarea .mainboard-box.progress .chart .chart-txt strong {font-size:28px; letter-spacing:-1px;color:#;}

.tea-rightarea .progress-area {float:left; width:398px;height:306px;background:#fff;border:1px solid #c6c6c6;}
.tea-rightarea .progress-area dl {float:left;width:198px;}
.tea-rightarea .progress-area dl.bdright {border-right:1px solid #c6c6c6;width:199px;}
.tea-rightarea .progress-area dl dt{ height:40px;line-height:40px;font-weight:bold;color:#000;text-align:center;font-size:14px;border-bottom:1px solid #c6c6c6;background:#f1f1f1;}
.tea-rightarea .progress-area dl dd {height:210px;text-align:center;}
.tea-rightarea .progress-area dl dd .graph-area {padding-top:20px;}
.tea-rightarea .progress-area dl dd .txtarea span {display:inline-block; font-size:16px;font-weight:bold;min-width:45px;}
.tea-rightarea .progress-area dl dd .txtarea .basic {color:#444d58;}
.tea-rightarea .progress-area dl dd .txtarea .red {color:#cf5757;}
.tea-rightarea .progress-area dl dd .txtarea .blue {color:#45a1ff;}
.tea-rightarea .progress-area .sms {clear:both; text-align:center;border-top:1px solid #c6c6c6;padding:10px;}
.tea-rightarea .progress-area .sms a {padding:10px 24px;display:inline-block; background:#45a1ff;color:#fff;font-weight:bold;}

.tea-rightarea .manage-info {clear:both; float:left;margin-bottom:14px;}
.tea-rightarea .manage-info h3 {height:39px;line-height:39px; border:1px solid #c6c6c6;border-bottom:none; padding:0 10px;color:#000;font-size:14px;background:#f1f1f1;}
.tea-rightarea .manage-info table {background:#fff;}
.tea-rightarea .manage-info table tr td {text-align: center;border:1px solid #c4c4c4;}
.tea-rightarea .manage-info table tr td .lec-info {height:65px;color:#45a1ff;font-weight:bold;font-size:16px;vertical-align:middle;padding-top:15px;}
.tea-rightarea .manage-info table tr td .lec-info p {color:#4f6d91;font-size:12px;text-decoration:underline;padding:5px 10px;}
.tea-rightarea .manage-info table tr td .bluebg {height:75px;background:#f2f8ff;}
.tea-rightarea .manage-info table tr td .bluebg>span {display:block;padding:8px 0;}
.tea-rightarea .manage-info table tr td .bluebg .btnnavy {display:inline-block;padding:8px 15px;color:#fff;font-weight:bold;background:#4f6d91;}

/* aside */
.aside {float:left;width:200px;padding:20px 0 100px 0;background-color:#e8eef3;}
.aside .nav .deco {display:none;position:absolute;}
.aside .nav a {position:relative;display:block;}
.aside .nav > li > a {height:43px;line-height:43px;padding-left:12px;font-size:14px;font-weight:bold;color:#4e5966;}
.aside .nav > li > a > .deco {right:-22px;top:0;width:22px;height:43px;background:url("../../images/admin/bg/nav_li_deco.gif") no-repeat 0 0;}
.aside .nav > li.on > a, .aside .nav > li > a:hover {color:#fff;background-color:#15a4fa;}
.aside .nav > li.on > a > .deco, .aside .nav > li > a:hover > .deco {display:block;}
.aside .nav > li > ul > li > a {padding:9px 30px 9px 21px;font-size:14px;color:#5a7891;background:#cfdbe5 url("../../images/admin/bg/nav_li_li.gif") no-repeat 13px 15px;}
.aside .nav > li > ul > li.on > a, .aside .nav > li > ul > li > a:hover {font-weight:bold;color:#fff;background:#4e5966 url("../../images/admin/bg/nav_li_li_on.gif") no-repeat 13px 15px;}
.aside .nav > li > ul > li > a > .deco {right:12px;top:50%;margin-top:-5px;width:6px;height:11px;background:url("../../images/admin/bg/nav_li_li_deco.gif") no-repeat 0 0;}
.aside .nav > li > ul > li.on > a > .deco, .aside .nav > li > ul > li > a:hover > .deco {display:block;}
.aside .nav > li > ul > li > ul > li > a {padding:7px 30px 7px 29px;font-size:12px;color:#4e5966;background:#b9cdde url("../../images/admin/bg/nav_li_li_li.gif") no-repeat 22px 14px;}
.aside .nav > li > ul > li > ul > li.on > a, .aside .nav > li > ul > li > ul > li > a:hover {color:#6f3d0c;background-image:url("../../images/admin/bg/nav_li_li_li_on.gif");}
.aside .nav > li > ul > li > ul > li > a > .deco {right:12px;top:50%;margin-top:-6px;width:6px;height:11px;background:url("../../images/admin/bg/nav_li_li_li_deco.gif") no-repeat 0 0;}
.aside .nav > li > ul > li > ul > li.on > a > .deco, .aside .nav > li > ul > li > ul > li > a:hover > .deco {display:block;}
.aside .nav > li > ul > li > ul > li > ul > li > a {padding:5px 30px 5px 31px;font-size:12px;color:#4e5966;background-color:#f9f9f9;}
.aside .nav > li > ul > li > ul > li > ul > li.on > a, .aside .nav > li > ul > li > ul > li > ul > li > a:hover {font-weight:bold;color:#15a4fa;}

/* location-wrap, course */
.location-wrap.course {position:relative;padding:10px;}
.location-wrap.course .out {position:absolute;left:11px;top:26px;}
.location-wrap.course .title {float:left;padding:10px 0 0 45px;font-size:19px;color:#15a4fa;}
.location-wrap.course .title span {display:block;margin-bottom:5px;font-size:14px;color:#000;}
.location-wrap.course .detail {float:right;width:544px;padding:8px 20px;border:1px solid #d7dade;background-color:#f9fafb;}
.location-wrap.course .detail:after {clear:both;display:block;content:" ";}
.location-wrap.course .detail li {float:left;width:220px;margin:3px 0 3px 10px;padding:0 0 0 12px;font-size:12px;color:#444d58;background:url("../../images/admin/bg/course_detail_li.gif") no-repeat 0 7px;}
.location-wrap.course .detail .odd {width:290px;margin-left:0;}

















