@charset "utf-8";

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(MaterialIcons-Regular.woff2) format('woff2'),
       url(MaterialIcons-Regular.woff) format('woff'),
       url(MaterialIcons-Regular.ttf) format('truetype');
}

.m_icon:before, .icc:before {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align:middle;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;

  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* custom */
.icc.check:before {content:"\e5ca";}
.m_icon.check_box:before, .icc.check_box:before {content:"\e834";}
.m_icon.check_box_blank:before, .icc.check_box_blank:before {content:"\e835";}
.m_icon.star:before, .icc.star:before {content:"\e838";color:#faa519;}
.m_icon.star_half:before, .icc.star_half:before {content:"\e839";color:#faa519;}
.m_icon.star_border:before, .icc.star_border:before {content:"\e83a";color:#faa519;}
.m_icon.favorite:before, .icc.favorite:before, .icc.favor:before {content:"\e87d";} /* favor = default color */
.m_icon.grade:before, .icc.grade:before {content:"\e885";}
.m_icon.expand_less:before {content:"\e5ce";}
.m_icon.expand_more:before {content:"\e5cf";}
.m_icon.keyboard_arrow_down:before, .icc.arrow_down:before {content:"\e313";}
.m_icon.keyboard_arrow_left:before, .icc.arrow_left:before {content:"\e314";}
.m_icon.keyboard_arrow_right:before, .icc.arrow_right:before {content:"\e315";}
.m_icon.keyboard_arrow_up:before, .icc.arrow_up:before {content:"\e316";}
.icc.sub_ar:before {content:"\e5da";} /* subdirectory_arrow_right */
.icc.sub_al:before {content:"\e5d9";} /* subdirectory_arrow_left */
.icc.arrow_forward:before {content:"\e5c8";}
.icc.arrow_back:before {content:"\e5c4";}
.m_icon.arrow_upward:before, .icc.arrow_upward:before {content:"\e5d8";}
.m_icon.arrow_downward:before, .icc.arrow_downward:before {content:"\e5db";}

.m_icon.play_circle_outline:before, .icc.play_circle_outline:before, .icc.play_c_out:before {content:"\e039";}
.m_icon.play_circle_filled:before, .icc.play_circle_filled:before, .icc.play_c_fill:before {content:"\e038";}
.m_icon.date_range:before, .icc.date_range:before {content:"\e916";}
.m_icon.home:before, .icc.home:before {content:"\e88a";}
.m_icon.close:before, .icc.close:before, .icc.del:before {content:"\e14c";}
.m_icon.menu:before, .icc.hamburger:before {content:"\e5d2";}
.m_icon.add_circle:before, .icc.add_circle:before {content:"\e147";}
.icc.remove_circle:before {content:"\e15c";}

.m_icon.vertical_align_top:before {content:"\e25a";}
.m_icon.vertical_align_bottom:before {content:"\e258";}
.m_icon.caution:before {content:"\e000";color:#eb7c7c;}
.m_icon.settings:before, .icc.set:before, .icc.set2:before {content:"\e8b8";}
.m_icon.settings_apps:before {content:"\e8b9";color:#fff;}
.m_icon.people:before, .icc.people:before {content:"\e7fb";}
.m_icon.group:before {content:"\e7ef";}
.m_icon.mail_outline:before, .icc.mail_outline:before {content:"\e0e1";}
.m_icon.email:before, .icc.email:before {content:"\e0be";}
.m_icon.find_in_page:before {content:"\e880";}
.m_icon.person_pin:before {content:"\e55a";}
.m_icon.lightbulb_outline:before {content:"\e90f";}
.m_icon.receipt:before, .icc.receipt:before {content:"\e8b0";}
.m_icon.assignment:before, .icc.assignment:before {content:"\e85d";}
.m_icon.message:before, .icc.message:before {content:"\e0c9";}

.m_icon.web:before {content:"\e051";}
.m_icon.account_circle:before, .icc.account_circle:before {content:"\e853";}
.m_icon.border_color:before, .icc.border_color:before {content:"\e22b";}
.m_icon.wb_incandescent:before, .icc.wb_bulb:before {content:"\e42e";} /* wb_incandescent */
.m_icon.people_outline:before, .icc.people_outline:before {content:"\e7fc";}
.m_icon.event_note:before {content:"\e616";}
.m_icon.mic:before, .icc.mic:before {content:"\e029";}

.m_icon.file_download:before, .icc.file_download:before {content:"\e2c4";}
.m_icon.description:before, .icc.description:before {content:"\e873";}
.m_icon.crop_original:before, .icc.crop_original:before {content:"\e3c4";}
.m_icon.check_circle:before, .icc.check_circle:before {content:"\e86c";}
.m_icon.visibility:before {content:"\e8f4";}
.m_icon.favorite:before {content:"\e87d";}
.m_icon.pages:before {content:"\e7f9";}
.m_icon.label:before {content:"\e892";}
.m_icon.group_add:before, .icc.group_add:before {content:"\e7f0";}
.m_icon.group_work:before, .icc.group_work:before {content:"\e886";}
.m_icon.comment:before, .icc.comment:before {content:"\e0b9";}
.m_icon.supervisor_account:before, .icc.multi_acc:before {content:"\e8d3";}
.m_icon.build:before {content:"\e869";}
.m_icon.extension:before {content:"\e87b";}
.m_icon.alert:before {content:"\e031";}
.m_icon.edit:before {content:"\e3c9";}
.m_icon.record_voice_over:before {content:"\e91f";}
.m_icon.settings_input_svideo:before {content:"\e8c3";}
.m_icon.add:before, .icc.add:before, .icc.plus:before {content:"\e145";} /* plus */
.icc.remove:before {content:"\e15b";}
.m_icon.link:before, .icc.link:before {content:"\e157";}
.icc.navigate_before:before {content:"\e408";}
.icc.navigate_next:before {content:"\e409";}
.icc.pause:before {content:"\e034";}
.icc.play:before {content:"\e037";}
.icc.caution:before {content:"\e645";}
.icc.help:before {content:"\e887";}
.m_icon.info:before, .icc.info:before {content:"\e88e";}
.m_icon.help:before, .icc.help:before {content:"\e887";}
.m_icon.info_outline:before, .icc.info_outline:before {content:"\e88f";}
.m_icon.help_outline:before, .icc.help_outline:before {content:"\e8fd";}
.m_icon.style:before, .icc.style:before {content:"\e41d";}
.icc.live_help:before {content:"\e0c6";}
.icc.notifications:before {content:"\e7f4";}
.icc.print:before {content:"\e8ad";}
.icc.pdf:before {content:"\e415";} /* picture_as_pdf */
.icc.attachment:before {content:"\e2bc";}
.icc.image:before {content:"\e3f4";}
.icc.mood:before {content:"\e7f2";}
.icc.apps:before {content:"\e5c3";}
.icc.theaters:before {content:"\e8da";}
.icc.done:before {content:"\e876";}
.icc.subdirectory_arrow_right:before {content:"\e5da";}
.icc.touch_app:before {content:"\e913";}
.icc.arrow_drop_down:before {content:"\e5c5";}
.icc.app_x:before {content:"\e5cd";}
.icc.more_vert:before {content:"\e5d4";}
.icc.dashboard:before {content:"\e871";}
.icc.turned_in:before {content:"\e8e6";}
.icc.alarm:before {content:"\e855";}
.icc.chevron_right:before {content:"\e5cc";}
.icc.chevron_left:before {content:"\e5cb";}
.icc.book:before {content:"\e865";}
.icc.bookmark:before {content:"\e866";}
.icc.exit_to_app:before {content:"\e879";}
.icc.event_note:before {content:"\e616";}
.icc.search:before, .icc.glass:before {content:"\e8b6";} /* search */
.icc.chart:before {content:"\e1af";}
.icc.mode_edit:before {content:"\e254";}
.icc.person_pin:before {content:"\e55a";}
.icc.cert:before, .icc.class:before {content:"\e86e";}
.icc.lock:before {content:"\e897";}
.icc.toc:before {content:"\e8de";}
.icc.more_horiz:before {content:"\e5d3";}
.icc.file:before {content:"\e2bc";}
.icc.new:before {content:"\e05e";}
.icc.arrow_drop_up:before {content:"\e5c7";}
.icc.arrow_drop_down:before {content:"\e5c5";}
.icc.list:before {content:"\e896";}
.icc.wc:before {content:"\e63d";}
.icc.face:before {content:"\e87c";}
.icc.eye:before {content:"\e417";} /* remove_red_eye */
.icc.access_time:before {content:"\e192";}
.icc.do_not:before {content:"\e612";}
.icc.movie_filter:before {content:"\e43a";}
.icc.movie_creation:before {content:"\e404";}
.icc.timer:before {content:"\e425";}
.icc.view_module:before {content:"\e8f0";}
.icc.view_list:before {content:"\e8ef";}
.icc.view_list_bull:before {content:"\e241";} /* format_list_bulleted */
.icc.menu:before {content:"\e5d2";}
.icc.fullscreen:before {content:"\e5d0";}
.icc.place:before {content:"\e55f";}
.icc.launch:before {content:"\e895";}
