@charset "utf-8";


@font-face {
	font-family: 'NotoSerifLao';
	font-style: normal;
	font-weight: 300;
	src: url(NotoSerifLao-Light.woff2) format('woff2'),
		url(NotoSerifLao-Light.woff) format('woff'),
		url(NotoSerifLao-Light.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSerifLao';
	font-style: normal;
	font-weight: 400;
	src: url(NotoSerifLao-Regular.woff2) format('woff2'),
		url(NotoSerifLao-Regular.woff) format('woff'),
		url(NotoSerifLao-Regular.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSerifLao';
	font-style: normal;
	font-weight: 500;
	src: url(NotoSerifLao-Medium.woff2) format('woff2'),
		url(NotoSerifLao-Medium.woff) format('woff'),
		url(NotoSerifLao-Medium.otf) format('opentype');
}

@font-face {
	font-family: 'NotoSerifLao';
	font-style: normal;
	font-weight: 700;
	src: url(NotoSerifLao-Bold.woff2) format('woff2'),
		url(NotoSerifLao-Bold.woff) format('woff'),
		url(NotoSerifLao-Bold.otf) format('opentype');
}