@charset "utf-8";

/* visual */
#visual {padding:88px 0; background: #b4dfe5;}
#visual h2{text-align:center; color:#222021; font-size:50px; padding:0 160px; margin-bottom:70px; word-break: keep-all;}
#visual h2 strong{color:#000; font-size:60px; font-family: 'Campton ExtraBold';}

/* intro */
#intro ul{text-align:center; font-size: 0;}
#intro ul li{display:inline-block; width:340px; text-align: center; vertical-align:top; margin-right:135px;}
#intro ul li img{margin-bottom:40px;}
#intro ul li:last-child{margin-right:0;}
#intro li h4{color:#000; font-size:30px; margin-bottom:20px;}
#intro li p{text-align:justify; color:; font-size:16px; line-height: 170%;}
#intro .li_ar ul:last-child{margin-top:80px;}

/* winter */
#winter {background:url(../../images/www/bg/bg_winter.png) no-repeat; background-position-y:-117px;}
#winter .sc_title h3{color:#23577c; }
#winter .sc_title p{color:#fff; font-size:25px;}
#winter .btn_box{text-align: center;}
#winter .b_view{display:inline-block; color:#fff; font-size:20px; padding:20px 40px; background:#23577c; border-radius:40px;}
#winter .pop_tab{position: fixed; top:0; left:0; width:100%; height: 100%; background:rgba(0,0,0,0.5); z-index: 99;}
#winter .winter_tab {font-size:0; margin-bottom:20px;}
#winter .winter_tab li{display:inline-block;}
#winter .winter_tab li.on a{color:#fff; background:#2368b4;}
#winter .winter_tab li + li{margin-left:10px;}
#winter .winter_tab li a{display:block; color:#2368b4; padding:10px 20px; background:#fff; border-radius: 4px; border:1px solid #2368b4;}
#winter .pop_area {position: absolute; top:50%; left:50%; transform: translate(-50%, -50%); max-width:90%; height: 780px;border-radius:12px; overflow:hidden;}
#winter .pop_area .tab_con {position: relative;  padding:20px;  height: calc(100%); overflow-y: auto; background:#fff; }
#winter .pop_area .tab_con img{max-width:800px;}
#winter .pop_area .tab_con .t_con + .t_con{ margin-top:20px;}
#winter .pop_area .b_close{position: absolute; top:10px; right:10px;}
#winter .pop_area .b_close i::before{color:#fff; font-size:30px;}
#winter .pop_area .pop_top{position: relative; padding:15px; background:#23577c;}
#winter .pop_area .pop_top span{color:#fff; font-size:18px;}


/* About Us */
#aboutUs li{margin-bottom:100px;}
#aboutUs li:last-child{margin-bottom:0;}
#aboutUs li .txt_box{display: inline-block; position:relative; width:50%; padding:0 60px;}
#aboutUs li .txt_box h4{color:#000; font-size: 30px; font-weight: bold; margin-bottom:20px;}
#aboutUs li .txt_box span{position:absolute; left:0; color:#f4976c; font-size: 30px; margin-right:15px; font-weight: bold;}
#aboutUs li .txt_box p{color:#7e6a69; font-size:19px; line-height: 170%; }
#aboutUs li img{display: inline-block;}

/* We’re a Family */
#family ul{font-size:0; margin-bottom:150px; overflow: hidden;}
#family ul li{display:inline-block; width:300px; height:640px; padding:30px; margin-right:30px; border-radius: 15px;}
#family ul li:nth-child(1){background:#c0e4fe; margin-top:20px;}
#family ul li:nth-child(2){background:#c3f7f8; vertical-align: top;}
#family ul li:nth-child(3){background:#ffdbcb; margin-top:20px;}
#family ul li:nth-child(4){background:#fee7a8; vertical-align: top; margin-right:0;}
#family ul li img{display:block; margin:0 auto; margin-bottom:30px;}
#family ul li p{color:#333; font-size:18px; line-height: 180%;}
#family .txt_ir{text-align: center;  color:#b15e38; padding:0 110px;}
#family .txt_ir .txt_box{margin:55px 0;}
#family .txt_ir p{text-align:justify; font-size:30px; font-family: 'Campton Medium Italic'; margin-bottom:20px;}
#family .txt_ir span{display:block; text-align:right; font-size:24px; font-family: 'Campton Light Italic';}

/* The origin of ‘the Hagwon’. */
#origin .sc_title{position:relative; margin-bottom:0; z-index: 2;}
#origin .txt_wl{position:relative; top:-150px; text-align:center; padding:250px 110px 165px 110px; background:#303c6c;}
#origin .txt_wl img{width:310px;margin-bottom:100px;}
#origin .txt_wl h4{text-align: left; color:#fff; font-size:28px; font-family: 'Campton ExtraBold'; margin-bottom:25px;}
#origin .txt_wl .txt_ar{font-size:0; }
#origin .txt_wl .txt_box{display:inline-block; width:calc(50% - 20px); vertical-align: top;}
#origin .txt_wl .txt_box p{text-align: justify; color:#fff; font-size:17px;  margin-bottom:20px;}
#origin .txt_wl .txt_ar .txt_box:first-child{margin-right:40px;}
#origin .txt_wl .txt_box p:last-child{margin-bottom:0;}

@media screen and (max-width:768px) {
  /* visual */
  #visual h2,
  #visual h2 strong{font-size:40px;}
  #visual h2{padding:0 40px;}

  /* intro */
  #intro ul li{width:100%; padding:0 40px; margin-right:0; margin-bottom:60px;}
  #intro li h4{font-size:26px;}
  #intro li p{text-align: left;}

  /* winter */
  #winter .pop_area .tab_con img{max-width: 100%;}
  #winter .pop_area{width:100%;}

  /* About Us */
  #aboutUs li .txt_box{width:100%; padding:380px 0 0 0;}
  #aboutUs li .txt_box h4{display:inline-block;}
  #aboutUs li .txt_box span{position: relative;}
  #aboutUs li img{position: absolute; top:0; left:50%; transform: translateX(-50%); width:400px;}

  /* We’re a Family */
  #family ul li{display:inline-block; width:48%; height:500px;  margin-right:2%; }
  #family ul li p{font-size:16px;}
  #family ul li img{width:150px; }
  #family ul li:nth-child(1){margin-top:0; margin-bottom:10px;}
  #family ul li:nth-child(2){margin-bottom:10px;}
  #family ul li:nth-child(3){margin-top:0;}
  #family .txt_ir{padding:0 20px;}
  #family .txt_ir p{text-align:center; font-size:25px;}
  #family .txt_ir span{text-align: center; font-size: 20px;}

  /* The origin of ‘the Hagwon’. */
  #origin .rows{padding:0;}
  #origin .txt_wl img{margin-bottom:50px;}
  #origin .txt_wl .txt_box{display:block; width:100%;}
  #origin .txt_wl{top:0; padding: 30px;}
}


@media screen and (max-width:600px) {
  /* We’re a Family */
  #family ul li{width:100%; height: auto;}
  #family ul li:nth-child(1),
  #family ul li:nth-child(2),
  #family ul li:nth-child(3){margin-bottom:20px; margin-right:0;}
}

@media screen and (max-width:500px) {
  /* visual */
  #visual{padding:60px;}
  #visual h2,
  #visual h2 strong{font-size:30px;}
  #visual h2{padding:0;}

  /* intro */
  #intro ul li{padding:0 20px;}
  #intro li h4{font-size:22px;}
  #intro li p{text-align:center; font-size:15px;}

  /* About Us */
  #aboutUs li .txt_box{padding:300px 0 0 0;}
  #aboutUs li .txt_box p{font-size: 15px;}
  #aboutUs li img{width:300px;}

  /* We’re a Family */
  #family ul{margin-bottom:100px;}
  #family .txt_ir{padding:0;}
  #family .txt_ir p{font-size:20px;}
  #family .txt_ir span{font-size:17px;}

  /* The origin of ‘the Hagwon’. */
  #origin .txt_wl h4{font-size:20px; margin-bottom: 15px;}
  #origin .txt_wl .txt_box p{font-size:15px;}
  #origin .txt_wl img{width:200px; margin-bottom: 30px;}
}
